.container {
  width: 100%;
  padding: 0.5rem 0;
  height: 20vh;
  margin-top: 1rem;
}
.itemInfo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.itemImg {
  flex-basis: 15%;
}
.itemImg img {
  width: 100%;
  border-radius: 0.3rem;
}

.details {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
  padding: 1rem 0;
}
