.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
}
.cartItems {
  background-color: white;
  flex: 2;
  padding: 1.5rem;
}
.cartItems > p {
  margin: 0.5rem 0;
  color: #0b8cf6;
  cursor: pointer;
}
.subTotal {
  background-color: white;
  flex: 0.6;
  padding: 1.5rem;
  margin-left: 1rem;
}
