.header {
  width: 100%;
  background-color: #131921;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  z-index: 99;
  position: sticky;
  top: 0;
}
.headerLogo {
  flex-basis: 5%;
}
.headerLogo img {
  width: 100%;
  margin: 0 20px;
  margin-top: 10px;
  cursor: pointer;
}

.headerSearch {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.headerSearch input {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 15px;
  padding: 0.4rem;
  border-radius: 0.3rem 0 0 0.3rem;
}
.searchIcon {
  background-color: #f3a847;
  border: 0;
  border-radius: 0 0.3rem 0.3rem 0;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
}
.headerOptions {
  margin-right: 2rem;
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-basis: 23%;
}
.option {
  display: flex;
  flex-direction: column;
}
.headerSearch input:focus {
  border-color: #f3a847;
}
.optionOne {
  font-size: 13px;
}

.optionTwo {
  font-size: 16px;
  font-weight: 900;
}

.link {
  text-decoration: none;
  color: #fff;
}
