.itemContainer {
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  width: 24%;
  margin-top: 2rem;
  min-height: 55vh;
}
.productItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  flex-wrap: wrap;
}
.itemImg {
  width: 100%;
  margin: 0.8rem 0;
  /* object-fit: c; */
}

.itemInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 55vh;
}

a {
  text-decoration: none;
  color: rgb(255, 0, 43);
  position: sticky;
  bottom: 0;
}

.addBtn {
  background-color: #0071e2;
  border: 0;
  outline: 0;
  padding: 0.7rem 1rem;
  font-size: 16px;
  color: white;
  font-weight: 700;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #016dd9;
}
.actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
